# --- GLOBAL INFRASTRUCTURE ---

# --- RABBITMQ ---
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# --- AUTH DATABASE ---
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_pass
AUTH_DB_NAME=auth_db

# --- USER DATABASE ---
USER_DB_USER=user
USER_DB_PASSWORD=user_pass
USER_DB_NAME=user_db

# --- AD DATABASES ---
AD_DB_USER=ad_user
AD_DB_PASSWORD=ad_pass
AD_DB_NAME=ad_db

AD_MONGO_USER=ad_user
AD_MONGO_PASSWORD=ad_pass
AD_MONGO_DB_NAME=ad_db