# --- GLOBAL INFRASTRUCTURE ---
AUTH_GRPC_PORT=50051
USER_GRPC_PORT=50052
AD_GRPC_PORT=50053
SEARCH_GRPC_PORT=50054
GATEWAY_PORT=6060

# --- RABBITMQ ---
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBIT_PORT=5672

# --- ELASTICSEARCH ---
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=elastic_password
ELASTICSEARCH_PORT=9200

# --- AUTH DATABASE ---
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_pass
AUTH_DB_NAME=auth_db
AUTH_DB_PORT=5431

# --- AUTH REDIS ---
AUTH_REDIS_PASSWORD=auth-redis-password

# --- USER DATABASE ---
USER_DB_USER=user
USER_DB_PASSWORD=user_pass
USER_DB_NAME=user_db
USER_DB_PORT=5432

# --- AD DATABASES ---
AD_DB_USER=ad_user
AD_DB_PASSWORD=ad_pass
AD_DB_NAME=ad_db
AD_DB_PORT=5433

AD_MONGO_USER=ad_user
AD_MONGO_PASSWORD=ad_pass
AD_MONGO_DB_NAME=ad_db
AD_MONGO_PORT=27017
