# --- USER SERVICE CONFIG ---
GRPC_PORT=50052
LOG_LEVEL=INFO
ENVIRONMENT=development

# --- RABBITMQ ---
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest

RABBIT_WAIT_TIME=10s
RABBIT_ATTEMPTS=5

ACCOUNT_EXCHANGE=account_topic
ACCOUNT_ROUTING_KEY=account.created

USER_SERVICE_QUEUE=account_create

# --- DATABASE ---
PG_HOST=localhost
PG_PORT=5432
PG_USER=user
PG_PASSWORD=user_pass
PG_DB_NAME=user_db
PG_SSL_MODE=prefer

PG_OPEN_CONNECTIONS=25
PG_IDLE_CONNECTIONS=25
PG_CONNECTION_LIFETIME=5m
