# --- SEARCH SERVICE CONFIG ---
GRPC_PORT=50054
LOG_LEVEL=INFO
ENVIRONMENT=production

# --- RABBITMQ ---
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest

RABBIT_WAIT_TIME=10s
RABBIT_ATTEMPTS=5

AD_EXCHANGE=ad_topic
AD_QUEUE=ad_events

AD_PUBLISHED_ROUTING_KEY=ad.published
AD_UPDATED_ROUTING_KEY=ad.updated
AD_REJECTED_ROUTING_KEY=ad.rejected
AD_DELETED_ROUTING_KEY=ad.deleted

# --- ELASTICSEARCH ---
ELASTICSEARCH_ADDRESSES=http://localhost:9200,http://localhost:9201
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=elastic_password
ELASTICSEARCH_INDEX_NAME=ads
