# --- AD SERVICE CONFIG ---
GRPC_PORT=50053
LOG_LEVEL=INFO
ENVIRONMENT=development

# --- DATABASE ---
PG_HOST=localhost
PG_PORT=5433
PG_USER=ad_user
PG_PASSWORD=ad_pass
PG_DB_NAME=ad_db
PG_SSL_MODE=prefer

PG_OPEN_CONNECTIONS=25
PG_IDLE_CONNECTIONS=25
PG_CONNECTION_LIFETIME=5m

# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=ad_user
MONGO_PASSWORD=ad_pass
MONGO_DB_NAME=ad_db
MONGO_COLLECTION_NAME=ads
